.container {
  flex: 1;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 20px;
  max-height: calc(100vh - 170px);
}

.helperscontainer {
  overflow: auto;
  max-height: 90%;
}

.container p {
  font-size: 15px;
  margin-bottom: 10px;
}

.container h3 {
  text-align: center;
}

.container h2,
h3 {
  font-size: 18px;
  color: var(--text-color);
  padding-bottom: 5px;
}
