.container {
  flex: 1;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 20px;
  max-height: calc(100vh - 170px);
}

.container p {
  font-size: 15px;
  margin-bottom: 10px;
}

.container h3 {
  text-align: center;
}

.container h2,
h3 {
  font-size: 18px;
  color: var(--text-color);
  padding-bottom: 5px;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location p {
  margin: 0px;
}

.directionLogo {
  margin-left: 10px;
  height: 30px;
  cursor: pointer;
}

.phoneDeal {
  text-decoration: underline;
  cursor: pointer;
  color: var(--purple-color);
}

.phoneDeal:hover {
  color: var(--purple-hover-color);
}

p span {
  color: var(--text-color);
}
