.container {
  flex: 1;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: calc(100vh - 130px);
}

.container p {
  font-size: 15px;
  margin-bottom: 10px;
}

.container h3 {
  text-align: center;
}

.container h2,
h3 {
  font-size: 18px;
  color: var(--text-color);
  padding-bottom: 5px;
}

.otcheti {
  margin-top: 10px;
  overflow: auto;
  max-height: 82%;
}

.createOtchet {
  margin: 20px 10px;
}

.createOtchet button {
  margin: 5px;
}
