.navbar {
  height: 96px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--paragraph-color);
}

.logo {
  display: flex;
  align-items: center;
  min-width: 300px;
  width: 300px;
  justify-content: space-evenly;
  height: 100%;
}

.logo img {
  cursor: pointer;
}

.logo p:hover {
  color: var(--purple-hover-color);
}

.logo p {
  font-size: 18px;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
}

.hamburger {
  display: none;
  cursor: pointer;
  align-self: right;
  margin-right: 20px;
}

.hamburger svg {
  height: 35px;
  width: 35px;
  fill: var(--purple-color);
  margin-right: 20px;
}

.hamburger svg:hover {
  fill: var(--purple-hover-color);
}

@media (max-width: 800px) {
  .hamburger {
    display: inherit;
  }

  .navigation {
    display: none;
  }
}
