.sidebar {
  width: 300px;
  background-color: var(--primary-color);
  border-right: 1px solid var(--paragraph-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(0px);
}

.hidesidebar {
  transform: translateX(-300px);
}

.filter-container {
  width: 100%;
  flex: 1;
}

.filtertitle {
  font-weight: bold;
  color: var(--paragraph-color);
  margin: 15px;
  align-self: start;
}

.filter {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 14px 5px;
  width: 90%;
}

.filter:hover {
  cursor: pointer;
  color: var(--purple-color);
  background-color: var(--purple-hover-color);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-weight: bold;
}

.filter img {
  margin-left: 16px;
}

.filter p {
  margin-left: 16px;
  font-weight: bold;
  color: var(--text-color);
}

.switch-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 6px 65px;
  border-radius: 6px;
}

.switch-mode img {
  margin: 0px;
}

.switch-mode p {
  margin: 0px;
  margin-left: 24px;
  margin-right: 24px;
}

.switch {
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.hide-sidebar {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 32px;
  width: 95%;
  align-self: start;
}

.hide-sidebar img {
  margin-left: 20px;
}

.hide-sidebar p {
  margin-left: 15px;
  color: var(--text-color);
}

.hide-sidebar:hover {
  cursor: pointer;
  color: var(--purple-color);
  background-color: var(--purple-hover-color);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-weight: bold;
}

.hide-sidebar:hover p {
  color: var(--purple-color);
}

.activeFilter {
  background-color: var(--purple-color);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.activeTicket {
  background-color: var(--green-color);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-bottom: 20px;
  width: 75%;
}

.activeTicket:hover {
  background-color: var(--green-hover-color);
}

@media (max-width: 800px) {
  .sidebar {
    width: 100%;
  }

  .filter-container {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-container p {
    display: inline;
  }

  .filter {
    width: 45%;
  }

  .hide-sidebar {
    display: none;
  }
}

@media (max-width: 460px) {
  .filter {
    font-size: 12px;
    overflow: hidden;
  }
}
