.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.heroContent {
  text-align: center;
}

.heroHeading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.heroSubheading {
  font-size: 1.25rem;
  color: var(--paragraph-color);
  margin-bottom: 2rem;
}

.getStartedButton {
  background-color: var(--red-color);
  color: var(--text-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.getStartedButton:hover {
  background-color: var(--red-hover-color);
}

.heroImage {
  max-width: 700px;
  transform: rotate(-10deg);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.heroImage img {
  width: 100%;
  height: auto;
  transform: rotate(10deg);
}
