.detailsContainer {
  flex: 1;
  background-color: var(--background-color);
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;
}

@media (max-width: 1080px) {
  .detailsContainer {
    flex-direction: column;
  }
}
