.taskcontainer {
  flex: 1;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

@media (max-width: 1020px) {
  .taskcontainer {
    grid-template-columns: 1fr;
  }
}
