.container {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 10px;
  border: 0.05rem solid #80808065;
}

.container p {
  font-size: 15px;
  margin: 0px;
}

.container h3 {
  font-size: 18px;
  margin: 0px;
  color: var(--text-color);
  padding-bottom: 5px;
}
